$background-color: #455a64;
$background-top-color: rgba(0, 0, 0, 0.6);
$header-height: 64px;
$white: #fff;
$normal-light-color: rgba($white, 0.6);
$accent-color: #f57c00;
$accent-light-color: #ffb74d;
